<div class='pokemondex'>
<h1 class='center'>Pokémons</h1>
  <div class='container' >
    <div class="row">

      <div class="column">
        <app-pokemon-list *ngFor='let pokemon of pokemons' class="col s12 m6 "
        [pokemon]= "pokemon"
        (details)=receivePokemon($event) > </app-pokemon-list>
      </div>

      <div class="column">
          <app-pokemon-detail *ngIf="pokemonClicked" class="row"
          [pokemonDetails]="pokemonClicked" ></app-pokemon-detail>
      </div>
      <div class="card-action">
          <button class="waves-effect waves-light btn" [routerLink]="['/create']" routerLinkActive="router-link-active" >Nouveau</button>
      </div>

    </div>
  </div>
</div>



